<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CleanSlate</title>
		<link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app='CleanSlateApp' ng-controller="CleanSlateController">
		<!-- Background Image -->
		<div id="background-img"></div>
		<!-- Top Bar -->
		<header id="top-bar">
			<h1>Step {{ CurrentStep.step_number }}: {{ CurrentStep.description }} &nbsp; 
				<button id="prev-step" class="step-button" ng-click="goToPrevStep()" ng-show="CurrentStep.prev_button === 'true'">Prev</button>
				<button id="next-step" class="step-button" ng-click="goToNextStep()" ng-show="CurrentStep.next_button === 'true'">Next</button>
			</h1>
		</header>
		<!-- App Container -->
		<main id="app-container">
			<!-- Step 1 (Choose a major) -->
			<ul id="choose-major" ng-show="CurrentStep.view === 'initial'">
				<li ng-click="setMajor('cse')">Computer Science & Engineering</li>
				<li ng-click="setMajor('wde')">Web Design & Enginnering</li>
			</ul>
			<!-- Steps 2-5 User Input Section (Top Half of UI) -->
			<section id="input-component" ng-show="CurrentStep.view === 'main'">
				<nav>
					<ul>
						<li ng-click="skipToStep(1)"><a href="#">AP Credit</a></li>
						<li ng-click="skipToStep(2)"><a href="#">Transfer Credit</a></li>
						<li ng-click="skipToStep(3)"><a href="#">Previous Experience</a></li>
					</ul>
				</nav>
				<h2 id="input-label">AP Credit: </h2>
				<select ng-model="currently_viewing_ap_test.id" ng-options="APTest.id as APTest.name for APTest in APTests">
				</select>
				<p id="selection-description" ng-model="currently_viewing_ap_test.description"> {{ APTests[ currently_viewing_ap_test.id ].description }}</p>
				<ul id="ap-test-score" ng-show="currently_viewing_ap_test.id >= 0">
					<li class="selected-ap-test-score" ng-click="setCurrentlyViewingAPTestScore(3)">3</li>
					<li ng-click="setCurrentlyViewingAPTestScore(4)">4</li>
					<li ng-click="setCurrentlyViewingAPTestScore(5)">5</li>
				</ul>
				<button id="add-selection" ng-show="currently_viewing_ap_test.id >= 0" ng-click="addAPTest()">Add</button>
				<div id="added-selections">
					<h2>Your Added AP Scores</h2>
					<ul>
						<li ng-repeat="test in StudentInput.ap_credit">
							<button ng-click="removeAPTest($index)" >Remove</button>
							{{ APTests[ test.id ].name }} ({{ test.score }}) 
						</li>
					</ul>
				</div>
			</section>
			<!-- Steps 2-5 Output Section (Bottom Half of UI)-->
			<section id="output-component" ng-show="CurrentStep.view === 'main'">
				<ul id="quarter-titles">
					<li>Fall</li>
					<li>Winter</li>
					<li>Spring</li>
				</ul>
				<ul id="courses">
					<ul id="fall-quarter" class="quarter">
						<li class="course" ng-class="assignCSSCourseClass()" ng-repeat="course in Schedule.fall_quarter">
							<h3 class="course-title">{{course.department}} {{course.course_number}}</h3>
							<h6 class="course-units">{{course.units}} units</h6>
							<h6 class="course-description">{{course.description}}</h6>
						</li>
					</ul>
					<ul id="winter-quarter" class="quarter">
						<li class="course" ng-class="assignCSSCourseClass()" ng-repeat="course in Schedule.winter_quarter">
							<h3 class="course-title">{{course.department}} {{course.course_number}}</h3>
							<h6 class="course-units">{{course.units}} units</h6>
							<h6 class="course-description">{{course.description}}</h6>
						</li>
					</ul>
					<ul id="spring-quarter" class="quarter">
						<li class="course" ng-class="assignCSSCourseClass()" ng-repeat="course in Schedule.spring_quarter">
							<h3 class="course-title">{{course.department}} {{course.course_number}}</h3>
							<h6 class="course-units">{{course.units}} units</h6>
							<h6 class="course-description">{{course.description}}</h6>
						</li>
					</ul>
				</ul>
				<ul id="key">
					<li><div id="engineering-key"></div>Engineering</li>
					<li><div id="math-key"></div>Math & Science</li>
					<li><div id="humanities-key"></div>Humanities & Social Science</li>
					<li><div id="other-key"></div>Other</li>
				</ul>
				<button id="print-button" ng-click='testScheduleUpdate()'>Print</button>
			</section>	
		</main>

		<!-- Angular & jQuery -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="js/view_controller.js"></script>
		<script src="js/objects.js"></script>
		<script src="js/compute_new_schedule.js"></script>
		<script src="js/ap_tests.js"></script>
		<script src="js/all_courses.js"></script>
	</body>
</html>